
.admin-dashboard nav {
  background: #ffffff; /* Cambiado a blanco */
}

.navbar {
  background-color: #ffffff; /* Cambiado a blanco */
  color: black; /* Cambiado a negro */
}

.navbar-brand a {
  color: black; /* Cambiado a negro */
}

.navbar-item a {
  color: black; /* Cambiado a negro */
}

.navbar-item button {
  color: black; /* Cambiado a negro */
}

.sidebar {
  background-color: #ffffff; /* Cambiado a blanco */
}

.sidebar ul li a, .sidebar-button {
  color: #333; /* Mantener el color del texto */
}

.user-table th {
  background-color: #ffffff; /* Cambiado a blanco */
}

.sidebar {
  width: 250px;
  transition: transform 0.3s ease;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.modal {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}
.small-text {
  font-size: 0.20rem; /* Ajusta el tamaño según tus necesidades */
}