@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.register-form {
  margin: 0 auto;
  padding: 1em;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff; /* Añadido fondo blanco */
}

.register-form div {
  margin-bottom: 1em;
}

.register-form label {
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

.register-form input, .register-form select {
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Añadido borde */
  border-radius: 5px; /* Añadido borde redondeado */
}

.register-form button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}
.sidebar {
  width: 200px;
  transition: transform 0.3s ease;
}
.main-content {
  margin-left: 200px; /* Debe coincidir con el ancho de la sidebar */
  padding: 20px;
}
.sidebar-hidden {
  transform: translateX(-100%);
}


