@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.register-form {
  margin: 0 auto;
  padding: 1em;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.register-form div {
  margin-bottom: 1em;
}

.register-form label {
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

.register-form input, .register-form select {
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.register-form button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}
